* {
    font-family:"permanent marker",cursive ;
    font-size: 0.9rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  background: linear-gradient(133deg,rgb(151, 187, 223),transparent) ;
}
.container {
  height: 18rem;
  width: 30rem;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5%;
  box-shadow: 0 .1em 0.5em .0;
}
#timeDisplay {
  flex-wrap: wrap;
  font-size: 700%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
}
button {
  border: 2px solid;
  margin: 0.3em;
  height: 2.5rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 15%;
}
button:hover
{
    font-size: 110%;
    background: azure;
}